<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>eyeball-replace-validator</name>
<type>validation</type>
<author>Nobody</author>
<description>Find selected terms for futher eyeball check</description>
<engine>python3.4</engine>
<version>20170420</version>
<oslist>osx,unx,win</oslist>
<autostart>true</autostart>
<autoclose>true</autoclose>
</plugin>
