<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>add-tts-engine</name>
<type>edit</type>
<author>Nobody</author>
<description>Add TTS Engine for Sigil</description>
<engine>python2.7</engine>
<engine>python3.4</engine>
<version>20171030</version>
<oslist>osx,unx,win</oslist>
<autostart>true</autostart>
</plugin>
