<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>vertical-rtl</name>
<type>edit</type>
<author>Nobody</author>
<description>Layout, "Top 2 Bottom , Right 2 Left" for Sigil</description>
<engine>python2.7</engine>
<engine>python3.4</engine>
<version>20171030</version>
<oslist>osx,unx,win</oslist>
</plugin>
