<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>full-width-punctuation</name>
<type>edit</type>
<author>Nobody</author>
<description>Make punctuation from 0.5em to 1em</description>
<engine>python2.7</engine>
<engine>python3.4</engine>
<version>20170402</version>
<oslist>osx,unx,win</oslist>
</plugin>
